<div class ="continer">

  <div class="liked_nfts">
    <% @liked_nfts1.each do |nft| %>
    <div class="d-flex justify-content-center">
            <div class="card-main mt-5">
                <% user = User.find(nft.user_id) %>
                <% if nft.image_url %>
                    <div class="title-card d-flex align-items-center p-2">
                        <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-large", alt: "avatar" %>
                        <div class="title-card-block px-3" id='nft-index-<%= nft.id %>'>
                            <%= link_to "#{user.first_name} #{user.last_name}", user_path(user)%>
                            <p><%= user.bio %></p>
                        </div>
                    </div>
                <% end %>
                <hr>
                <%= link_to nft_path(nft), class:'text-decoration-none' do %>
                    <p class="p-2">Created <%= nft.name %></p>
                    <%= image_tag nft.image_url, height: 400, width: 500, crop: :fill %>
                <% end %>
                <div class="d-flex my-2 p-2 align-items-center">
                    <%= link_to toggle_favorites_path(nft_id: nft.id), remote: true, method: :post, style: "color: black;" do %>
                      <%= render 'like_button', nft: nft %>
                    <% end %>

                    <i class="far fa-comment" style="color:#E94A47;"></i>
                </div>
            </div>
        </div>
    <% end %>
 </div>
<hr>
  <div class="created_nfts">
    <% @liked_nfts1.each do |nft| %>
    <%= nft.name %>
    <% end %>
  </div>
</div>
